/* my container */
.my-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

/* this is a single bottle */
.a-bottle {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
    text-align: center;
}

.bottle-s {
    max-width: 170px;
    height: 60%;
    margin: 10px;
    display: flex;
}

.text-s {
    font-size: 100%;
}

.s-card-body {
    background-color: gray;
    color: white;
}

/* the complete article section */
.homepage {
    display: auto;
}

.info {
    display: auto;
}

.beer {
    width: 40%%;
}

/* Breakpoint 1 (iPhone 5S): 320px
 * Breakpoint 2 (iPhone 6+): 414px
 * Breakpoint 3 (iPad Mini): 703px
 * Breakpoint 4 (iPad Air): 768px

 /* iPhone 5/SE  */
@media ( max-height: 568 px ) {
    div {
        background-color: lightblue; 
    }
    .lead {
        margin-bottom: -30px
    }
    .s-card-body {
        width: 40%;
    }
    .my-flex {
        flex-direction: column;
    }
    .bottle-s {
        display: flex ;
    }
}
/* galaxy S5 */
@media  ( max-height: 640px ) {
    div {
        /* background-color: red;*/
        font-size:  150%;
    }

    .s-card-body {
        width: 40%
    }

    .my-flex {
        flex-direction: column
    }

}

/* iPhone 6/7/8 and iPhone X*/
@media (min-height: 667px ) {
    div {
     /*  background-color: green; */
        font-size: 160%;
    }
    .my-flex {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
/* iPhone 6/7/8 and iPhone X*/
@media (max-height: 736px ) {
    div {
        /* background-color: lightgreen; */
        font-size: 160%
    }
    .my-flex {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

/* IPad IPad Pro*/
/* iPhone 6/7/8 and iPhoneX*/
@media ( min-height: 1366px ) {
    div {
        /* color: yellow; */
        font-size: 260%;
    }
    .my-flex {
        flex-direction: row ;
        flex-wrap: nowrap;
    }
}

/* to display the info page */
.info {
    display: none;
}

/* to display the beer part */
